{% extends 'mainapp/base.html' %}
{% block title %}
Search - BUSy
{% endblock title %}

{% block header-orange %}
<div>
    <div class="card mx-sm-2 mx-md-5">
        <div class="card-body text-justify">
            <h4 class="card-title" style="font-family: Acme, sans-serif;">About BUSy</h4>
            <p style="font-family: Hind, sans-serif;"><br><br><br>City buses are one of &nbsp;the best ways to get through a city but the thing with city buses which concerns a lot of daily commuters is that &nbsp;city buses are unreliable the lack of tracking system and any real time data
                from the bus makes it a hard job to monitor&nbsp; buses for the government and an unreliable source for people to get from one point to another.<br><br><br>Our main aim through this app is to simplify the tracking and making city buses
                more reliable for all the people. BUSy is a web app that can show real time data of a city bus in a map , alongwith estimated time of arrival at the boarding station for the commuter.<br><br><br><br><br><br><br></p>
        </div>
    </div>
</div>
{% endblock header-orange %}    