{% extends 'mainapp/base.html' %}

{% block main %}
<div class="card bg-light d-xl-flex justify-content-xl-center" style="width: 282px;margin-left: 25px;height: 196px;margin-bottom: 33px;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="text-center card-title">CG 07 GH 2011</h4>
        <p class="card-text">Longitude Latitude</p>
    </div>
        <button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="width: 160px;margin-left: 69px;margin-bottom: 32px;">Details</button>
</div>
<div class="card bg-light d-xl-flex justify-content-xl-center" style="width: 282px;margin-left: 25px;height: 196px;margin-bottom: 33px;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="text-center card-title">CG 07 GH 2011</h4>
        <p class="card-text">Longitude Latitude</p>
    </div>
        <button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="width: 160px;margin-left: 69px;margin-bottom: 32px;">Details</button>
</div>
<div class="card bg-light d-xl-flex justify-content-xl-center" style="width: 282px;margin-left: 25px;height: 196px;margin-bottom: 33px;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="text-center card-title">CG 07 GH 2011</h4>
        <p class="card-text">Longitude Latitude</p>
    </div>
        <button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="width: 160px;margin-left: 69px;margin-bottom: 32px;">Details</button>
</div>
<div class="card bg-light d-xl-flex justify-content-xl-center" style="width: 282px;margin-left: 25px;height: 196px;margin-bottom: 33px;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="text-center card-title">CG 07 GH 2011</h4>
        <p class="card-text">Longitude Latitude</p>
    </div>
        <button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="width: 160px;margin-left: 69px;margin-bottom: 32px;">Details</button>
</div>
<div class="card bg-light d-xl-flex justify-content-xl-center" style="width: 282px;margin-left: 25px;height: 196px;margin-bottom: 33px;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="text-center card-title">CG 07 GH 2011</h4>
        <p class="card-text">Longitude Latitude</p>
    </div>
        <button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="width: 160px;margin-left: 69px;margin-bottom: 32px;">Details</button>
</div> 

{% endblock main %}